
.creature(data-id=minion.id,class=classes,data-preview-pic=minion.pic)
   IMG.img(src= '/textures/minions/' + minion.pic + '.png')
   .border
   .overlay.o1
   .overlay.o2
   .overlay.o3
   .overlay.last
   .attack= minion.attack
   .hp= minion.hp
